<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRVL Destinos</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <a href="/"><img src="static/imgs/logo.png" alt="Logo TRVL" class="logo"></a>
        <div class="botoes">
           <a href="/login" class="primario">Login</a>
           <a href="/cadastro" class="secundario">Cadastro</a>
        </div>
    </header>
    <hr>
    <main>
      <img src="static/imgs/praia-na-tailandia.avif" alt="inicio" class="praia">
        <div class="text-index">
            <h1>A viagem dos seus sonhos<br>começa aqui!</h1>
           <a href="/planejamento"> <button><h2>Planejar!</h2></button> </a>
        </div>
    </main>
</body>
</html>
