* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #154f35;
    color: #fefefe;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #154f35;
}

.logo {
    height: 100px; 
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin-right: 10px;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.destination-selection {
    background-color: #e8dfca;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.destination-selection h2 {
    margin-bottom: 20px;
    color: #333;
}

.destination-selection button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #4a7a5c;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.destination-selection button:hover,
.destination-selection button.active {
    background-color: #2f6144;
}

.destination-image {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.destination-image h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* Default image for Gramado */
#destination-image {
    background-image: url('static/imgs/gramado.jpg');
}

cadastro#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.form-container {
    background-color: white;
    padding: 20px;
    margin: 10%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

